<div class="bg-zinc-300 w-screen h-screen ">
    <div class="container flex flex-col items-center justify-center h-full ">

        <h2>Calcular fecha</h2>
        <mat-divider></mat-divider>
        <h1>{{fecha | date: 'mediumDate' }}</h1>

        <br>
        <!-- Datepicker -->
        <div class="flex flex-col justify-center w-80% md:w-1/4 ">

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input [(ngModel)]="fecha" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Selector -->
            <mat-form-field appearance="fill">
                <mat-label>Unidad a aumentar</mat-label>
                <!-- (selectionChange)="aumentarFecha(fecha,cantidad)" TODO: Para manejarlo mediante eventos -->
                <mat-select  [(value)]="unidad">
                    <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                        {{unidad}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Font size</mat-label>
                <!-- (keyup)="aumentarFecha(fecha,cantidad)" TODO: Para manejarlo mediante eventos -->
                <input  [(ngModel)]="cantidad" matInput type="number"
                    placeholder="0">
                <span matSuffix>Unidad</span>

            </mat-form-field>
            <!-- TODO: Podemos comentar esto y manejarlo mediante eventos -->
            <button (click)="aumentarFecha(fecha,cantidad)"  mat-raised-button color="primary">Primary</button>

        </div>

        

    </div>






</div>