<div class="bg-zinc-300 w-screen h-screen flex items-center">
    <div class="container h-auto p-3 w-90% flex rounded-md flex-col justify-center md:flex-row md:items-center md:h-70vh  bg-white">
        <div class="md:h-3/5 p-3 flex flex-col justify-evenly items-center md:w-1/2">
            <h1>Bienvenido de nuevo</h1>
            <div class="md:w-3/4   md:flex md:justify-center">
                <img class="md:w-95% xl:w-80% rounded-md"
                    src="../../../assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg" alt="">
            </div>
        </div>
        <form [formGroup]="iesUser"
            class="flex flex-col justify-start items-center   md:justify-center md:h-full md: md:w-1/2">
            <div class="flex flex-col w-11/12 h-full justify-center p-3 rounded-md bg-naranja_ies/60 md:w-full md:h-80%">
                <h3 class="text-center">Ingresa tus claves</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input formControlName="username" matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="{{password}}" formControlName="password" matInput placeholder="" value="">
                </mat-form-field>
                <mat-checkbox  (change)="mostrarPassword(mostrarContrasena)" [(ngModel)]="mostrarContrasena" [ngModelOptions]="{standalone: true}" class="example-margin">Mostrar contraseña</mat-checkbox>
                <mat-checkbox formControlName="recordar" class="example-margin">Recordar usuario</mat-checkbox>
                
                <br>
                <button class="bg-azul_ies text-white animate-pulse hover:bg-naranja_ies hover:animate-none" [disabled]="iesUser.invalid" (click)="entrar()" mat-raised-button
                    >Entrar</button>
            </div>
        </form>
    </div>
</div>



<!-- <div class="w-screen h-screen ">
    <div class="w-full h-full container p-6 grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 grid-flow-col gap-3 ">

        <div class="bg-blue-500 p-3 rounded-md">
            <div class="md:h-1/2">
                <h2>Bienvenido</h2>
            </div>
            <div class="md:h-1/2">
                <img src="../../../assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg" alt="">
            </div>
        </div>
        <div class="bg-lime-300 rounded-md">
            <h1>Hola</h1>
        </div>
    </div>
</div> -->