<div class="bg-zinc-300 w-screen h-screen flex justify-center items-center ">
    <div class="bg-naranja_ies rounded-md h-1/2 w-50% flex flex-col justify-center items-center">
        <label class="text-8xl font-bold">404</label>
        <Label class="text-base  md:text-4xl">Pagina no encontrada</Label>
        <br>
        <a routerLink="/login" mat-raised-button
            class="bg-azul_ies text-white animate-pulse hover:bg-naranja_ies hover:animate-none text-base">Ir a login
        </a>
    </div>
</div>