<!-- Loading -->
<app-loading [isOpen]="isOpenLoading" [texto]="textoLoading">></app-loading>

<div class="bg-zinc-300 w-screen h-screen ">
    <div class="container flex flex-col items-center justify-center h-full ">
        <form  [formGroup]="infoUsuario" class="w-90%  flex flex-col p-3 justify-center rounded-md bg-naranja_ies/60" action="">
            <!-- <label class="text-end">Total a pagar: {{ montoApagar | currency: "MXN"  }}</label> -->
            <!-- <br> -->

            <h2 class="text-center text-xl text-white">Ingresa tus datos</h2>
            <br>
            <mat-divider></mat-divider>
            <div class="flex flex-col  md:flex-row gap-2 mt-4">
                <div class="w-100% md:w-1/2">
                    <mat-error *ngIf="infoUsuario.get('nombre')?.invalid  && formEnviado === true" class=""><small>Limpiar espacios al final de tu nombre</small></mat-error>
                    <mat-form-field class="example-full-width w-full" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput placeholder="Ej. Edgar Ulises" value="" />
                    </mat-form-field>
                </div>
                <div class="w-100% md:w-1/2">
                    <mat-error *ngIf="infoUsuario.get('apellidos')?.invalid && formEnviado === true"><small>Limpiar espacios al final de tu apellido</small></mat-error>
                    <mat-form-field class="example-full-width w-full" appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input formControlName="apellidos" matInput placeholder="Ej. Cruz Alfaro" value="" />
                    </mat-form-field>


                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Estado civil</mat-label>
                <!-- (selectionChange)="aumentarFecha(fecha,cantidad)" TODO: Para manejarlo mediante eventos -->
                <!-- [(value)]="estadoSeleccionado" -->
                <mat-select formControlName="estadoCivil"  >
                    <mat-option *ngFor="let estado of estadosCiviles" [value]="estado">
                        {{estado | estadoCivil}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="flex flex-col md:flex-row justify-evenly gap-2 mt-4 rounded-md bg-white/50 p-3">
                <div class="w-full md:w-1/2 flex md:flex-col items-center">
                    <mat-error *ngIf="infoUsuario.get('fumas')?.invalid  && formEnviado === true" class=""><small>Seleccione una opción</small></mat-error>
                    <small>¿Es usted fumador/a?</small>
                    &nbsp;&nbsp;
                    <mat-radio-group formControlName="fumas" aria-label="Select an option">
                        <mat-radio-button value="true">Si</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>

                </div>
                <div class="w-full md:w-1/2 flex md:flex-col items-center">
                    <mat-error *ngIf="infoUsuario.get('actualmentePracticasLectura')?.invalid  && formEnviado === true" class=""><small>Seleccione una opción</small></mat-error>
                    <small>¿Practicas la lectura?</small>
                    &nbsp;&nbsp;&nbsp;
                    <mat-radio-group formControlName="actualmentePracticasLectura" aria-label="Select an option">
                        <mat-radio-button (click)="mostrarNodoLibros(true)" value="true">Si</mat-radio-button>
                        &nbsp;&nbsp;
                        <mat-radio-button (click)="mostrarNodoLibros(false)"   value="false">No</mat-radio-button>
                    </mat-radio-group>

                </div>

            </div>
            <br>
            <div *ngIf="librosLeidos.length > 0 && abrirInputLibros === false"
                class="h-10% overflow-scroll justify-center">
                <div class="cursor-pointer flex justify-center flex-wrap w-full h-full overflow-scroll bg-white/40 rounded-md p-2">
                    <label class="cursor-pointer hover:text-red-600" (click)="removerLibro(libro)" *ngFor="let libro of librosLeidos">{{ libro
                        }},&nbsp;</label>
                </div>
            </div>
            <br>
            <div class="flex items-center" *ngIf="abrirCerrar">

                <mat-form-field class="w-9/12" appearance="fill">
                    <mat-label>Nombre del libro</mat-label>
                    <input  (keypress.enter)="agregarLibro()" [(ngModel)]="libro" [ngModelOptions]="{standalone: true}" matInput placeholder="Ej. Cien años de Soledad"
                        value="" />
                </mat-form-field>
                &nbsp; &nbsp;
                <button    (click)="agregarLibro()" class="w-3/12" mat-mini-fab color="accent">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
            

            <mat-error *ngIf="infoUsuario.invalid && formEnviado === true" class=""><small>Verifique el formulario</small></mat-error>

            <!-- [disabled]="infoUsuario.invalid" -->
            <button  (click)="enviarForm()"  type="submit"  target="_blank" mat-raised-button
                class="bg-azul_ies text-white animate-pulse hover:bg-naranja_ies hover:animate-none text-base">Enviar
                &nbsp; &nbsp;<i class="bi bi-ticket-detailed-fill text-2xl"></i></button>
        </form>
    </div>
</div>